.main {

    #loader {
        border: 10px solid #f3f3f3;
        border-top: 10px solid #a9b6eb;
        margin: 8rem auto 2rem auto;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        visibility: hidden;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .infotext {
        text-align: center;

        &__all {
            width: 100%;
            float: left;
            padding: 0.5rem;
            margin: 2rem;
            max-width: 30%;
        }

        &--first {
            background-color: $babypink;
        }

        &--second {
            background-color: $babypurple;
        }

        &--third {
            background-color: $babygreen;
        }
    }

    .textblock {
        background-color: $babypurple;
        text-align: center;
        width: 100%;
        padding: 0.5rem;
        margin: 2rem auto;

        &__p {
            display: inline-block;
        }

        &__YT {
            display: inline-block;
            font-weight: bold;
        }
    }

    .creator { 
        text-align: center;

        img {
            width: 20%;
        }
    }

    .fileinput {
        text-align: center;
        margin: 0 auto;
        background-color: $cutegrey;
        padding: 1rem;
    }

    .pictureInput-js {
        color: white;
        border: none;
        padding: 5px 0px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .block {
        border-style: solid;
        border-width: 3px;
        border-color: $cutegrey;
        margin: 0 auto;
        margin-top: 3rem;
        max-width: 66%;

        &__match {
            border-style: solid;
            border-width: 3px;
            border-color: $cutegrey;
            margin: 0 auto;
            margin-top: 3rem;
            max-width: 45%;
        }
    }

    #imgPerson {
        img{
            max-height: 18rem;
        }

        padding: 2.5rem 2.5rem 2.5rem 2.5rem;
        float: left;
    }

    .age {
        float: left;
        margin: 0 auto;
        max-width: 10rem;

        &__name {
            float: left;
            padding: 0;
            margin: 0;
            margin-top: 3rem;
        }

        &__value {
            padding: 0;
            margin: 8rem 0rem 0rem 0rem;
        }
    }

    #man__hair, #man__face, #man__eyes, #woman__hair,  #woman__face, #woman__eyes {
        position: absolute;
    }

    #man {
        display: none;
        padding: 2.5rem 0rem;
    }

    #woman {
        display: none;
        padding: 2.5rem 0rem;
    }

    .glasses {
        float: left;

        &__block {
            float: left;
            margin: 0.5rem 3rem 0.5rem 0rem;
        }

        &__text {
            margin: 2.5rem 0 0 0;
        }
    }

    #no_glasses {
        width: 100%;
    }

    #yes_glasses {
        width: 100%;
    }

    #block {
        visibility: hidden;
    }

    .colors {
        margin: auto 0;
        padding: 1rem 0rem;

        &_yt {
            margin: auto 0;
            padding: 1rem 0rem;
        }
    }

    path.woman__hair--a {
        fill: #aaa;
    }

    path.woman__face--b {
        fill: #ccc;
    }

    circle.woman__eyes--a {
        fill: #eee;
    }

    #skincolor, #haircolor, #eyecolor {
        background-color: $cutegrey;
        width: 6rem;
        height: 3rem;
        margin: 1rem;
        margin: 0 auto;
    } 

    #skincolors, #haircolors, #eyecolors {
        background-color: $cutegrey;
        width: 6rem;
        height: 3rem;
        margin: 1rem;
        margin: 0 auto;
    } 

      #skincolors_yt, #haircolors_yt, #eyecolors_yt {
        background-color: $cutegrey;
        width: 6rem;
        height: 3rem;
        margin: 1rem;
        margin: 0 auto;
    } 

    .button {
        background-color: $babypink;
        padding: 0.5rem;
        margin: 2rem;
        text-align: center;
        position: absolute;

        &:hover {
            background-color: #edc4cd;
            cursor: pointer;
        }

        &__a {
            color: $black;
            font-size: 1.2rem;
            text-decoration: none;
        }
    }

    .yt {
        margin: 0 auto;

        &__name {
            color: $babypurple;
            text-align: center;
            font-size: 4.5rem;
            font-weight: bold;
            padding: 1.1rem 0rem;
        }

        &__link {
            a {
                color: $white;
                text-decoration: none;
            }
            background-color: #D82624;
            color: $white;
            padding: 4rem;
            font-weight: bold;
            text-align: center;
            font-size: 3rem;
            text-decoration: none;
        }
    }
}

