h1 {
	color: $babygreen;
	font-size: 4.7rem;
	font-family: 'Josefin Sans', sans-serif;
}

h2 {
	color: $babygreen;
}

h3 {

}

h4 {

}

h5 {

}

h6 {
	
}

p {
	font-size: 1.5rem;
}