h1 {
	color: $babygreen;
	font-size: 4.2rem;
	font-family: 'Josefin Sans', sans-serif;
}

h2 {
	color: $babygreen;
	font-size: 7.2rem;
}

h3 {
	color: $cutegrey;
	text-align: center;
}

h4 {

}

h5 {

}

h6 {
	
}

p {
	font-size: 1.5rem;
}